<div>
    <div class="container">
        <div class="row">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" ng-model="vm.gitURL" placeholder="{{main.search}}" >
                <span class="input-group-addon">
                    <button type="submit" ng-click="main.validateURL(vm.gitURL)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  
                </span>
            </div>
        </div>
        <div class="row" ng-if="!main.isValid">
            <span class="error">{{main.errorMessage}}</span>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <pie-chart id="pie-chart" data="main.pieData" title="Pie chart"></pie-chart>
            </div>
            <div class="col-lg-6 col-md-12">
                <bar-chart id="bar-chart" data="main.pieData" title="Bar chart"></bar-chart>
            </div>
        </div>
    </div>
</div>